html,
body {
    height: 100%;
    font-family: 'Red Hat Display', sans-serif;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.navbar-brand {
    color: white!important;
}

.navbar-brand > img {
    height: 1.4em;
    display: inline;
    padding-right: 0.5em;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pagination {
    float: right;
}

.right {
    float: right!important;
}

.breadcrumb > li + li:before {
    content: "»";
}

.summary {
    margin: 0.2em 0 1em;
    font-size: 0.8em;
    color: #222222;
}

/* Game cards */
.game.thumbnail {
    padding: 0;
    border-bottom: 0.2em solid;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    border-radius: 2px;
}
.game.thumbnail.state-new {
    border-bottom-color: #4CAF50;
}
.game.thumbnail.state-started {
    border-bottom-color: #F44336;
}
.game.thumbnail.state-finished {
    border-bottom-color: #9E9E9E;
}
.game.thumbnail.state-completed {
    border-bottom-color: #FFA000;
}
.game.thumbnail.state-ignored {
    border-bottom-color: #9C27B0;
}

.game.thumbnail .cover {
    display: block;
    height: 260px;
    background-position: center;
    background-size: cover;
    background-color: #E0E0E0;
    margin-bottom: 0.3em;
}

.game.thumbnail h3 {
    margin: 0 0 0.5em;
    font-size: 1.3em;
}

.game.thumbnail h3 a {
    color: #222222;
}

.game.thumbnail h3 a:hover {
    text-decoration: none;
}

.label.label-state, .label.label-platform, .label.label-dlcs {
    font-size: 0.8em;
    font-weight: normal;
}

.label.state-new {
    background-color: #4CAF50;
}
.label.state-started {
    background-color: #F44336;
}
.label.state-finished {
    background-color: #9E9E9E;
}
.label.state-completed {
    background-color: #FFA000;
}
.label.state-ignored {
    background-color: #9C27B0;
}

.label.label-platform {
    background-color: #383838;
}

.label.label-dlcs {
    background-color: #337ab7;
}
